<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<ul class="options_list">
    <li>IMAGENS DAS PLATAFORMAS</li>
    <li><a routerLink="/home">INÍCIO</a></li>
    <li><a routerLink="/about">SOBRE MIM</a></li>
    <li><a routerLink="/projects">PROJETOS</a></li>
    <li><a routerLink="/contacts">CONTATO</a></li>
</ul>

<div class="personal_information">
    <ul class="list_information">
        <li><h1>Olá, Bem vindo ao meu site.</h1></li>
        <li><h4>Felipe Barros</h4></li>
    </ul>
    
</div>
<img src="../assets/imagens/foto.png" alt="Felipe ">


    
</body>
</html>