<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    
<ul class="options_list">
    <li>IMAGENS DAS PLATAFORMAS</li>
    <ul class="second_options_list">
    <li><a routerLink="/home">INÍCIO</a></li>
    <li><a routerLink="/about">SOBRE MIM</a></li>
    <li><a routerLink="/projects">PROJETOS</a></li>
    <li><a routerLink="/contacts">CONTATO</a></li>
    </ul>
</ul>

<div class="personal_information">
    <ul class="list_information">
        <li>
            <ul>
                <li>Felipe Barros</li>
                <li>Web and Software Developer</li>
            </ul>
        </li>
        <li><img src="" alt="Banner da Home" width="100%">
        
    </ul>

</div>



    
</body>
</html>