body {
  overflow: hidden;
  /*Sem Scroll*/
}



.logo-img {
  width: 80px;
  height: auto;
}

.personal-info{
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
.info-text{
  padding: 300px;
}
.profile-img{
  width: 120%;
  height: auto;

}