/* You can add global styles to this file, and also import other style files */

body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: linear-gradient(
    to right,
    #04090e,     /* Preto puro */
    #020407,     /* Quase preto */
    #010305
  );
    color: #ffffff;


}

ul {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    align-items: last baseline;
    gap: 70px;
    padding: 20px;
    margin-left: 1000px;
    font-size: 12px;
    

}

a {
    color: #ffffff;
    text-decoration: none;
    font: size 10px;
}